@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

*{
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body{
  margin: 50px;
}

.favorite{
  width: 190px;
  height: 147px;
  box-sizing: border-box;
  padding: 12px;
  background: linear-gradient(180deg, #CCCCCC 0%, #EEEEEE 100%);
  border: 1px solid #A3A3A3;
  border-radius: 5px;
  position: relative;
}

.favorite-title{
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.accent-color{
  color: #ED552F; 
}

.favorite-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.favorite-item{
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 8px;
  background: url(rank.png) no-repeat;
}

.favorite-list li:last-child{
  margin-bottom: 0;
}

.spriteUp{background-position: right 3.75px;}
.spriteMiddle{background-position: 100% center;}
.spriteDown{background-position: right bottom 3.75px}



.favorite-rank{
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #A3A3A3;
  color: #fff;
  font-weight: 300;
  border-radius: 5px;
  text-align: center;
  line-height: 16px;
  margin-right: 4px;
}

.favorite-more{
  margin: 0;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  position: absolute;
  top: 12px;
  right: 12px;
}

.favorite-more i{
  font-size: 16px;
  font-weight: bold;
  color: #447231;
  margin-right: 4px;
}
