/* 리셋 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
textarea,
select,
option {
  font-size: 14px;
}



/* 숨김 */
.a11y, 
legend{
  background: yellow;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
  clip-path: polygon(0 0, 0 0 , 0 0);

  /* font-size: 0; 모바일사이트에서 읽지않는 이슈가 있다 */
}

/* 메인콘텐츠 */
.main-content{
  margin: 100px;
  width: 300px;
}

/* 로그인 */
.login{
  background: radial-gradient(circle at right top,orange,orangered);
  box-shadow: 5px 5px 0 0 #ccc;
  border-radius: 5px;
  padding: 15px;
}

.login-title{
  color: yellow;
  font-size: 18px;
  font-weight: 700;
  /* 부모가 가지고있는 폰트사이즈의 0.5글자 들여쓰기 */
  text-indent: 0.5em;
}

.login-form{
  margin-top: 10px;
  background: white;
  padding: 10px 10px 0 10px;
  border-radius: 5px 5px 0 0;
}

.login-form fieldset{
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #aaa;
}


.user-email , .user-pw{
  font-size: 0;
}

.user-pw{
  margin-top: 5px;
}

.login-form label{
  font-size: 14px;
  width: 60px;
  display: inline-block;
}

.login-form input{
  border: 1px solid #aaa;
  border-radius: 3px;
  width: 80px;
  height: 24px;
  padding: 1px 1px 1px 5px;
}

.login-button{
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 3px;
  background: orangered;
  color: #fff;
  font-size: 14px;
  padding: 0;
  border: 0;
  width: 50px;
  height: 61px;
}

.login-member{
  background: white;
  padding: 0 10px 10px 10px;
  border-radius: 0 0 5px 5px;
  display: flow-root;
  font-size: 14px;
}

.login-member li:first-child{
  float: left;
}
.login-member li:last-child{
  float: right;
}

.login-member a{
  display: block;
  padding: 6px;
}



/* 유효성 검사 */
.validation-list{
  margin: 25px;
}

.validation-list li{
  margin: 10px 0;
}

.validation-list a{
  padding: 10px 10px 10px 50px;
  background:url(./../images/validation_icon\ 2.png) no-repeat 25px 50%, linear-gradient(to bottom, #ccc, #eee);
  display: block;
  border: 1px solid #aaa;
  border-radius: 30px;
}


/* 웹 관련용어 */

.term{
  border: 1px solid #aaa;
  border-radius: 5px;
  background: #ccc;
  padding: 15px;
  margin-top: 25px;
}

.term-title{
  font-size: 18px;
  font-weight: 700;
}

.term-list{
  background: skyblue;
}

.term-list-wrapper{
  background: teal;
  margin-top: 10px;
  display: flow-root;
}

.term-list-subject{
  background: salmon;
  width: 200px;
  float: right;

}

.term-list-thumbnail{
  background: yellow;
  float: left;
}
.term-list-thumbnail img{
  display: block;
}

.term-list-brief{
  background: pink;
  /* padding-left: 70px; */
  width: 200px;
  margin-top: 5px;
  float: right;
}


.cross .term-list-subject, 
.cross .term-list-brief {
 float: left;
}
.cross .term-list-thumbnail{
  float: right;
}

/* 
.term-list div:nth-child(even) .term-list-subject,
.term-list div:nth-child(even) .term-list-brief{
  float: left;
}
.term-list div:nth-child(even) .term-list-thumbnail{
  float: right;
} 
*/
