
ul{
  list-style: none;
}

li{margin-bottom: 12px;
  
}

a{
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  text-indent: 36px;
  line-height: 37px;
  width: 250px;
  height: 37px;
  background:url(../images/validation_icon\ 2.png) no-repeat 16px #CCCCCC;
  border-radius:34px;
  text-decoration: none;
}

abbr{
  text-decoration: none;
}